.front {
    &-header {
        overflow: hidden;
        &-dark {
            min-height: 348px;
            @include media-breakpoint-down(md) {
                min-height: 172px;
            }
            &::before {
                @include media-breakpoint-up(lg) {
                    @include position(right, 0, top, 0);
                }
                @include media-breakpoint-down(md) {
                    position: absolute;
                    right: -9999px;
                    left: -9999px;
                    top: 0;
                    margin: auto;
                }
                width: 1000%;
                height: 100%;
                content: '';
                background: $brand-dark;
            }
            @include media-breakpoint-up(lg) {
                &::after {
                    @include position(left, 100%, top, 0);
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    border-right: 250px solid transparent;
                    border-top: 348px solid $brand-dark;
                }
            }
        }
        .logo {
            padding-top: 142px;
            width: 240px;
            position: relative;
            z-index: 2;
            @include media-breakpoint-down(md) {
                padding-top: 2rem;
                margin: 0 auto;
            }
            a {
                display: block;
            }
            img {
                max-width: 100%;
            }
        }
    }
}
.person-header {
    padding-top: 4rem;
    @include media-breakpoint-down(md) {
        padding-top: 0;
        margin-top: -4rem;
        text-align: center;
    }
    .image {
        width: 220px;
        position: relative;
        overflow: hidden;
        border-radius: 100%;
        @include media-breakpoint-down(md) {
            width: 128px;
            margin: 0 auto;
        }
        img {
            overflow: hidden;
            border-radius: 100%;
            max-width: 100%;
        }
    }
    .description {
        @include media-breakpoint-up(lg) {
            padding-left: 3.5rem;
        }
        h1 {
            font-size: 3.5rem;
            line-height: 1em;
            margin: 0;
            font-weight: 700;
            @include media-breakpoint-down(md) {
                font-size: 2rem;
            }
        }
        .greeting {
            color: #5C7080;
            font-size: 1.5rem;
            line-height: 1.5em;
            margin-bottom: 1rem;
            font-weight: 300;
            @include media-breakpoint-down(md) {
                padding-top: 1.5rem;
            }
        }
        .meta {
            padding: 1rem 0;
            color: #30404D;
            font-size: .875rem;
            line-height: 1.5em;
            @include media-breakpoint-down(md) {
                .d-lg-flex {
                    > div {
                        padding-bottom: .5rem;
                    }
                }
            }
        }
    }
}
.front-main {
    overflow: hidden;
}
.front-sidebar {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 3rem;
    @include media-breakpoint-down(md) {
        margin-bottom: 2rem;
    }
    &::before {
        width: 1000%;
        height: 100%;
        content: '';
        background: #F5F8FA;
        @include media-breakpoint-up(lg) {
            @include position(right, 0, top, 0);
        }
        @include media-breakpoint-down(md) {
            position: absolute;
            right: -9999px;
            left: -9999px;
            top: 0;
            margin: auto;
        }
    }
    &-item {
        position: relative;
        z-index: 2;
        margin-top: 1.5rem;
        h3 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1em;
            margin: 0;
            position: relative;
            &::after {
                content: '';
                display: block;
                height: 4px;
                width: 86px;
                background: #5C7080;
                margin: .2rem 0 0;
            }
        }
        p {
            font-size: .875rem;
            line-height: 1.6rem;
            margin-bottom: 1.5rem;
            @include media-breakpoint-up(lg) {
                max-width: 400px;
            }
        }
        table {
            width: 100%;
            border: 0;
            td {
                padding: .3rem 0;
                font-size: .875rem;
                line-height: 1.6rem;
                &:first-child {
                    width: 180px;
                }
            }
        }
    }
}
.person-info {
    article {
        margin-bottom: 2.5rem;
        display: block;
        &:not(:last-of-type) {
            border-bottom: 1px solid #E1E8ED;
        }
    }
    h2 {
        font-size: 1.9rem;
        line-height: 1em;
        margin: 0 0 2rem;
        &::after {
            content: '';
            display: block;
            height: 4px;
            width: 86px;
            background: #5C7080;
            margin: .2rem 0 0;
        }
    }
    h3 {
        font-size: 1.5rem;
        line-height: 1em;
        margin: 0;
    }
    .meta {
        color: #738694;
        font-size: 1rem;
        line-height: 1em;
        padding: 0 0 .5rem;
    }
    p {
        font-size: 1rem;
        line-height: 1.8em;
        margin-bottom: 2rem;
    }
}
.social-block {
    a {
        text-decoration: none;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        position: relative;
        color: $white;
        i {
            @include position(center, 0, center, 0);
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.5rem;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    .instagram {
        background: #C13584;
        &:hover,
        &:focus {
            background: lighten(#C13584, 5%);
        }
    }
    .facebook {
        background: #3B5998;
        &:hover,
        &:focus {
            background: lighten(#3B5998, 5%);
        }
    }
    .linkedin {
        background: #0077B5;
        &:hover,
        &:focus {
            background: lighten(#0077B5, 5%);
        }
    }
}