.btn {
    padding: calc(1rem - 1px) 1rem;
    line-height: 1rem;
    &.btn {
        &-primary {
            background: $orange;
            border-color: $orange;
            &:active,
            &:hover,
            &:focus {
                background: darken($orange, 5%)!important;
                border-color: darken($orange, 5%)!important;
                box-shadow: 0 0 0 0.2rem rgba(231, 74, 13, 0.18)!important;
            }
        }
        &-danger {
            background: $red;
            border-color: $red;
            color: $white;
            &:focus {
                background: darken($red, 5%)!important;
                border-color: darken($red, 5%)!important;
            }
        }
        &-default {
            background: $blue;
            border-color: $blue;
            color: $white;
            &:focus {
                background: darken($blue, 5%)!important;
                border-color: darken($blue, 5%)!important;
            }
        }
        &-md {
            padding: calc(.75rem - 1px) 1rem;
        }
    }
}