.bootstrap-datetimepicker-widget {
    table {
        th,
        td {
            border: 0;
        }
        td {
            &.active {
                background: $orange;
                &:hover {
                    background: darken($orange, 5%);
                }
            }
            &.today {
                &::before {
                    border-bottom-color: $orange;
                }
            }
        }
    }
}
.date,
.datetimepicker-range,
.datetimepicker-default {
    .input-group-text {
        background: $white;
        color: #CED4DA;
    }
    &.input-group {
        .form-control {
            border-right: 0;
            padding-right: 0;
        }
    }
    .input-group {
        .form-control {
            border-right: 0;
            padding-right: 0;
        }
    }
    .input-group-append {
        cursor: pointer;
    }
}
.daterangepicker {
    &-group {
        &.input-group {
            .form-control {
                border-right: 0;
                padding-right: 0;
            }
        }
    }
    .calendar-table {
        th {
            color: #868E96;
        }
        .table-condensed {
            td {
                border-top: 5px solid $white;
                border-bottom: 5px solid $white;
                border-radius: 0;
            }
        }
    }
    td {
        &.in-range {
            background: #F7DDD4;
        }
        &.active {
            background: $orange;
            &:hover {
                background: $orange;
            }
        }
    }
}