.site-loader {
    position: fixed;
    background: $white;
    width: 100%;
    height: 100%;
    z-index: 1072;
    > .spinner-border {
        @include position(center, 0, center, 0);
    }
}
.text-primary {
    color: $orange!important;
}