*:focus::-moz-placeholder {
    color: transparent !important;
}

*[autofocus]::-moz-placeholder:focus {
    color: graytext !important;
}

*:focus:-moz-placeholder {
    color: transparent !important;
}

*[autofocus]:-moz-placeholder:focus {
    color: graytext !important;
}

*:focus::-webkit-input-placeholder {
    color: transparent !important;
}

*[autofocus]::-webkit-input-placeholder {
    color: graytext !important;
}
/*for fileds and buttons styles*/
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
input[type=time],
input[type=url],
button,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

select::-ms-expand {
    display: none;
}
img {
    vertical-align: top;
}
textarea {
    overflow-y: auto;
    vertical-align: top;
}
body {
    background: $white;
}