@font-face {
  font-family: 'cv_icons';
  src:
    url('fonts/cv_icons.ttf?3ulgkv') format('truetype'),
    url('fonts/cv_icons.woff?3ulgkv') format('woff'),
    url('fonts/cv_icons.svg?3ulgkv#cv_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cv_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cvd-facebook:before {
  content: "\e90b";
}
.cvd-instagram:before {
  content: "\e90c";
}
.cvd-linkedin:before {
  content: "\e90d";
}
.cvd-arrow-bottom:before {
  content: "\e900";
}
.cvd-arrow-right:before {
  content: "\e901";
}
.cvd-calendar:before {
  content: "\e902";
}
.cvd-check:before {
  content: "\e903";
}
.cvd-close:before {
  content: "\e904";
  color: #f55656;
}
.cvd-edit:before {
  content: "\e905";
}
.cvd-eye:before {
  content: "\e906";
}
.cvd-link:before {
  content: "\e907";
}
.cvd-logout:before {
  content: "\e908";
}
.cvd-trash:before {
  content: "\e909";
}
.cvd-user:before {
  content: "\e90a";
}
