$icomoon-font-family: "cv_icons" !default;
$icomoon-font-path: "fonts" !default;

$cvd-facebook: "\e90b";
$cvd-instagram: "\e90c";
$cvd-linkedin: "\e90d";
$cvd-arrow-bottom: "\e900";
$cvd-arrow-right: "\e901";
$cvd-calendar: "\e902";
$cvd-check: "\e903";
$cvd-close: "\e904";
$cvd-edit: "\e905";
$cvd-eye: "\e906";
$cvd-link: "\e907";
$cvd-logout: "\e908";
$cvd-trash: "\e909";
$cvd-user: "\e90a";

