// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Inter';
$font-size-base: .815rem;
$line-height-base: 1.2;

// Colors
$blue: #293742;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #DB3737;
$orange: #FF8200;
$yellow: #ffed4a;
$green: #15B371;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$grid-gutter-width: 24px;

$theme-colors: (
    "danger": $red
);

$alert-padding-y: 1rem;
$alert-padding-x: 1rem;

$default: #E1E8ED;
$header: #EBF1F5;
$odd: #F5F8FA;
$text: #5C7080;
$border: #E1E8ED;
$brand-dark: #182026;

$label: #202B33;
$placeholder: #8A9BA8;

// Login
$login-bg: #F5F8FA;

// Placeholder
$placeholder-color: #8A9BA8;
$placeholder-font: $font-family-sans-serif;
$placeholder-weight: 400;
$placeholder-style: normal;
$placeholder-line: 20px;

// Buttons
$button-radius: 3px;

$header-link: #BFCCD6;

// Form
$form-border: #D8E1E8;
$field-height: 48px;
$navbar-dark-color: #fff;