@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?3ulgkv') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?3ulgkv') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?3ulgkv##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cvd-facebook {
  &:before {
    content: $cvd-facebook; 
  }
}
.cvd-instagram {
  &:before {
    content: $cvd-instagram; 
  }
}
.cvd-linkedin {
  &:before {
    content: $cvd-linkedin; 
  }
}
.cvd-arrow-bottom {
  &:before {
    content: $cvd-arrow-bottom; 
  }
}
.cvd-arrow-right {
  &:before {
    content: $cvd-arrow-right; 
  }
}
.cvd-calendar {
  &:before {
    content: $cvd-calendar; 
  }
}
.cvd-check {
  &:before {
    content: $cvd-check; 
  }
}
.cvd-close {
  &:before {
    content: $cvd-close;     
    color: #f55656;
  }
}
.cvd-edit {
  &:before {
    content: $cvd-edit; 
  }
}
.cvd-eye {
  &:before {
    content: $cvd-eye; 
  }
}
.cvd-link {
  &:before {
    content: $cvd-link; 
  }
}
.cvd-logout {
  &:before {
    content: $cvd-logout; 
  }
}
.cvd-trash {
  &:before {
    content: $cvd-trash; 
  }
}
.cvd-user {
  &:before {
    content: $cvd-user; 
  }
}

